<% provide(:title,'Helper title')%>
<head>
<title> Ruby on Rails Tutorial Sample App | Helpie </title>
</head>
<h1>StaticPages#help Helper</h1>

<p>Don't Find me in app/views/static_pages/help.html.erb</p>
